# Objective of Analysis 
Analisis ini bertujuan membandingkan karakteristik customer churn vs non‑churn untuk mengidentifikasi faktor perilaku dan pengalaman yang terkait dengan churn. Fokus tetap pada level diagnostik (deskriptif & komparatif), tanpa pemodelan atau uji statistik berat.

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/AlvitoDwiP/churn-analysis/main/churn/data/raw/WA_Fn-UseC_-Telco-Customer-Churn.csv"
df = pd.read_csv(url)

## Churn vs Non-Churn Comparison
Bagian ini membandingkan metrik utama antara customer churn dan non‑churn untuk melihat perbedaan pola secara umum.

### Tenure

In [2]:
df.groupby('Churn')['tenure'].mean()

Churn
No     37.569965
Yes    17.979133
Name: tenure, dtype: float64

Rata‑rata tenure customer churn lebih pendek dibanding non‑churn. Nilai rata‑rata tenure churn sekitar 18 bulan, sedangkan non‑churn sekitar 37,6 bulan. Ini menunjukkan churn lebih sering terjadi pada customer dengan masa berlangganan lebih singkat.

### Monthly Charges

In [23]:
df.groupby('Churn')['MonthlyCharges'].mean()

Churn
No     61.265124
Yes    74.441332
Name: MonthlyCharges, dtype: float64

Customer churn memiliki rata‑rata Monthly Charges yang lebih tinggi dibanding non‑churn. Perbedaan ini menunjukkan adanya keterkaitan antara beban biaya bulanan dan churn, namun perlu dilihat bersama faktor lain.

### Total Charge

In [ ]:
# Konversi TotalCharges ke numerik (akan jadi NaN untuk nilai kosong/invalid)
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

# Rata-rata TotalCharges per status churn
df.groupby('Churn')['TotalCharges'].mean()

Churn
No     2555.344141
Yes    1531.796094
Name: TotalCharges, dtype: float64

Catatan: nilai kosong pada TotalCharges akan menjadi NaN setelah konversi, sehingga jumlah missing values perlu diperhatikan sebelum interpretasi akhir.

Rata‑rata Total Charges customer churn lebih rendah (±1.532) dibanding non‑churn (±2.555). Pola ini konsisten dengan tenure yang lebih pendek pada customer churn, sehingga akumulasi tagihan total lebih kecil.

## Service & Experience Drivers
Bagian ini membandingkan churn berdasarkan atribut layanan untuk melihat area pengalaman customer yang memiliki perbedaan churn paling besar.

### Customer Support
- TechSupport
- OnlineSecurity

In [20]:
df.groupby('TechSupport')['Churn'].value_counts(normalize=True).unstack()

Churn                      No       Yes
TechSupport
No                   0.583645  0.416355
No internet service  0.925950  0.074050
Yes                  0.848337  0.151663

Customer tanpa TechSupport memiliki churn tertinggi, sekitar 41,6%, jauh lebih tinggi dibanding customer yang memiliki TechSupport (15,2%). Segmen “No internet service” memiliki churn terendah (7,4%). Ini menunjukkan adanya perbedaan churn yang kuat terkait ketersediaan dukungan

In [22]:
df.groupby('OnlineSecurity')['Churn'].value_counts(normalize=True).unstack()

Churn                      No       Yes
OnlineSecurity
No                   0.582333  0.417667
No internet service  0.925950  0.074050
Yes                  0.853888  0.146112

Customer tanpa OnlineSecurity memiliki churn tertinggi, sekitar **41,8%**, jauh lebih tinggi dibanding customer yang memiliki OnlineSecurity (**14,6%**). Segmen “No internet service” memiliki churn terendah (**7,4%**). Ini menunjukkan adanya perbedaan churn yang kuat terkait perlindungan layanan online.

### Contract Type

In [7]:
df.groupby('Contract')['Churn'].value_counts(normalize=True).unstack()

Churn                 No       Yes
Contract
Month-to-month  0.572903  0.427097
One year        0.887305  0.112695
Two year        0.971681  0.028319

Churn tertinggi terjadi pada kontrak Month‑to‑month (42,7%), jauh di atas One year (11,3%) dan Two year (2,8%). Perbedaan ini menunjukkan adanya keterkaitan antara durasi kontrak dan churn.

## Focused Analysis on High-Risk Segments
Bagian ini memeriksa perbedaan rata‑rata tenure di dalam segmen kontrak dengan churn tertinggi sebagai verifikasi pola pada segmen prioritas.

In [8]:
high_risk = df[df['Contract'] == 'Month-to-month']
high_risk.groupby('Churn')['tenure'].mean()

Churn
No     21.033333
Yes    14.016918
Name: tenure, dtype: float64

Dalam segmen Month‑to‑month, rata‑rata tenure customer churn lebih rendah dibanding non‑churn. Ini menegaskan pola bahwa churn lebih sering terjadi pada pelanggan dengan masa berlangganan lebih pendek, bahkan di segmen berisiko tinggi.

## Key Driver-Level Findings

**Driver**
- Tenure & Monthly Charges
- TechSupport & OnlineSecurity
- Contract Type

**Perbedaan data**
- Customer churn memiliki tenure lebih rendah dan Monthly Charges lebih tinggi dibanding non-churn.
- Customer tanpa TechSupport dan OnlineSecurity memiliki proporsi churn yang jauh lebih tinggi dibanding customer dengan layanan tersebut.
- Kontrak Month-to-month menunjukkan churn paling tinggi dibanding kontrak jangka panjang.

**Implikasi bisnis**
- Risiko churn lebih terkonsentrasi pada customer awal berlangganan dengan beban biaya lebih tinggi, keterbatasan dukungan layanan, dan komitmen kontrak jangka pendek.